<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657297089143-e5moe61v2uvcldveqj91db5ad4bdi323.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657297089143-e5moe61v2uvcldveqj91db5ad4bdi323</string>
	<key>API_KEY</key>
	<string>AIzaSyBJBwIcdeYbn-xZ0JnTiccTjwrVLoR-o14</string>
	<key>GCM_SENDER_ID</key>
	<string>657297089143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mathx.hanacount</string>
	<key>PROJECT_ID</key>
	<string>hanacount-4acaf</string>
	<key>STORAGE_BUCKET</key>
	<string>hanacount-4acaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657297089143:ios:1c81c5f479f139f6cb1c72</string>
</dict>
</plist>